# Beginning Gini Index Score Calculation

## What is a gini index?
The gini index or gini coefficient measures "the distribution of income across a population developed by the Italian statistician Corrado Gini in 1912. It is often used as a gauge of economic inequality, measuring income distribution or, less commonly, wealth distribution among a population. The coefficient ranges from 0 (or 0%) to 1 (or 100%), with 0 representing perfect equality and 1 representing perfect inequality." - *Investopedia*

**Key Point:**
A higher Gini index indicates greater inequality, with high income individuals receiving much larger percentages of the total income of the population.

In [1]:
%matplotlib inline

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Income/Income_Asian_2.csv")
df

,Label,"Albany County, New York!!Estimate","Allegany County, New York!!Estimate","Bronx County, New York!!Estimate","Broome County, New York!!Estimate","Cattaraugus County, New York!!Estimate","Cayuga County, New York!!Estimate","Chautauqua County, New York!!Estimate","Chemung County, New York!!Estimate","Chenango County, New York!!Estimate",...,"Sullivan County, New York!!Estimate","Tioga County, New York!!Estimate","Tompkins County, New York!!Estimate","Ulster County, New York!!Estimate","Warren County, New York!!Estimate","Washington County, New York!!Estimate","Wayne County, New York!!Estimate","Westchester County, New York!!Estimate","Wyoming County, New York!!Estimate","Yates County, New York!!Estimate"
0,Total:,"6,271",155,"15,304","2,484",191,119,240,356,51,...,288,80,"3,982",889,228,109,236,"18,966",46,30
1,"Less than $10,000",431,29,"1,010",642,40,0,33,10,0,...,34,0,988,62,10,11,0,830,28,0
2,"$10,000 to $14,999",290,0,797,52,9,12,18,0,8,...,6,0,261,55,0,0,30,473,0,0
3,"$15,000 to $19,999",167,8,"1,032",135,0,0,42,0,5,...,14,0,150,21,26,0,0,394,0,5
4,"$20,000 to $24,999",141,0,748,125,0,0,21,0,0,...,27,0,88,19,18,0,18,311,0,2
5,"$25,000 to $29,999",187,7,882,118,2,0,0,0,0,...,0,0,185,0,7,0,0,432,4,6
6,"$30,000 to $34,999",386,18,800,43,29,14,15,20,0,...,5,12,309,57,0,6,0,334,0,11
7,"$35,000 to $39,999",83,0,574,59,0,0,0,57,7,...,0,27,151,45,36,15,0,279,9,0
8,"$40,000 to $44,999",180,0,485,104,0,7,0,0,14,...,10,0,115,17,0,0,0,283,5,0
9,"$45,000 to $49,999",134,2,525,78,8,0,18,0,0,...,9,0,52,32,6,0,28,379,0,0
10,"$50,000 to $59,999",361,0,"1,217",141,25,4,0,12,0,...,25,6,266,81,0,23,0,694,0,0
11,"$60,000 to $74,999",522,10,"1,340",206,17,0,26,0,0,...,10,7,483,67,38,6,52,938,0,6
12,"$75,000 to $99,999","1,015",29,"1,880",256,19,30,14,66,17,...,29,0,273,77,37,28,29,"1,720",0,0
13,"$100,000 to $124,999",744,19,"1,165",166,20,47,11,54,0,...,39,0,131,93,0,11,15,"1,959",0,0
14,"$125,000 to $149,999",416,5,845,131,0,0,14,36,0,...,9,0,107,77,6,0,27,"1,530",0,0
15,"$150,000 to $199,999",607,13,"1,116",57,16,2,0,38,0,...,55,2,137,33,14,0,0,"2,392",0,0
16,"$200,000 or more",607,15,888,171,6,3,28,63,0,...,16,26,286,153,30,9,37,"6,018",0,0

In [3]:
df_asian = df #making a copy of our orginial df
df_asian.head()

,Label,"Albany County, New York!!Estimate","Allegany County, New York!!Estimate","Bronx County, New York!!Estimate","Broome County, New York!!Estimate","Cattaraugus County, New York!!Estimate","Cayuga County, New York!!Estimate","Chautauqua County, New York!!Estimate","Chemung County, New York!!Estimate","Chenango County, New York!!Estimate",...,"Sullivan County, New York!!Estimate","Tioga County, New York!!Estimate","Tompkins County, New York!!Estimate","Ulster County, New York!!Estimate","Warren County, New York!!Estimate","Washington County, New York!!Estimate","Wayne County, New York!!Estimate","Westchester County, New York!!Estimate","Wyoming County, New York!!Estimate","Yates County, New York!!Estimate"
0,Total:,"6,271",155,"15,304","2,484",191,119,240,356,51,...,288,80,"3,982",889,228,109,236,"18,966",46,30
1,"Less than $10,000",431,29,"1,010",642,40,0,33,10,0,...,34,0,988,62,10,11,0,830,28,0
2,"$10,000 to $14,999",290,0,797,52,9,12,18,0,8,...,6,0,261,55,0,0,30,473,0,0
3,"$15,000 to $19,999",167,8,"1,032",135,0,0,42,0,5,...,14,0,150,21,26,0,0,394,0,5
4,"$20,000 to $24,999",141,0,748,125,0,0,21,0,0,...,27,0,88,19,18,0,18,311,0,2

Since the incomes are in ranges, we'll convert them to midpoint amounts to make them easier to work with

In [4]:
list_values = df_asian.iloc[1:,0]
list_values

1            Less than $10,000
2           $10,000 to $14,999
3           $15,000 to $19,999
4           $20,000 to $24,999
5           $25,000 to $29,999
6           $30,000 to $34,999
7           $35,000 to $39,999
8           $40,000 to $44,999
9           $45,000 to $49,999
10          $50,000 to $59,999
11          $60,000 to $74,999
12          $75,000 to $99,999
13        $100,000 to $124,999
14        $125,000 to $149,999
15        $150,000 to $199,999
16            $200,000 or more
Name: Label, dtype: object

# Data Cleaning

In [5]:
#new values for each income are the midpoint for the ranges
new_amounts = [4999, 12499, 17499, 22499, 27499, 32499, 37499, 42499, 47499, 54999, 67499, 
              87499, 112499, 137499, 174999, 200000]

for i in range(0,16):
    df_asian.iloc[i+1,0] = new_amounts[i]
df_asian.head()

,Label,"Albany County, New York!!Estimate","Allegany County, New York!!Estimate","Bronx County, New York!!Estimate","Broome County, New York!!Estimate","Cattaraugus County, New York!!Estimate","Cayuga County, New York!!Estimate","Chautauqua County, New York!!Estimate","Chemung County, New York!!Estimate","Chenango County, New York!!Estimate",...,"Sullivan County, New York!!Estimate","Tioga County, New York!!Estimate","Tompkins County, New York!!Estimate","Ulster County, New York!!Estimate","Warren County, New York!!Estimate","Washington County, New York!!Estimate","Wayne County, New York!!Estimate","Westchester County, New York!!Estimate","Wyoming County, New York!!Estimate","Yates County, New York!!Estimate"
0,Total:,"6,271",155,"15,304","2,484",191,119,240,356,51,...,288,80,"3,982",889,228,109,236,"18,966",46,30
1,4999,431,29,"1,010",642,40,0,33,10,0,...,34,0,988,62,10,11,0,830,28,0
2,12499,290,0,797,52,9,12,18,0,8,...,6,0,261,55,0,0,30,473,0,0
3,17499,167,8,"1,032",135,0,0,42,0,5,...,14,0,150,21,26,0,0,394,0,5
4,22499,141,0,748,125,0,0,21,0,0,...,27,0,88,19,18,0,18,311,0,2

Need to rename columns so it contains county only, and we need to make the amounts of people into integers since they are currently strings. To make those numbers integers, we must first remove the commas - then we can convert type.

In [6]:
# want to delete everything after the county name in the string
column_list = []
for i in range(0,len(df_asian.columns)):
    if i != 0: #we don't want to change the 1st column at all
        comma = df_asian.columns[i].find(",") #finds where the commas are in the string
        col_name = df_asian.columns[i][0:comma] #keeps the name of the county onlyy
        column_list = column_list + [col_name] #puts the corrected names into the list we made
column_list

['Albany County',
 'Allegany County',
 'Bronx County',
 'Broome County',
 'Cattaraugus County',
 'Cayuga County',
 'Chautauqua County',
 'Chemung County',
 'Chenango County',
 'Clinton County',
 'Columbia County',
 'Cortland County',
 'Delaware County',
 'Dutchess County',
 'Erie County',
 'Essex County',
 'Franklin County',
 'Fulton County',
 'Genesee County',
 'Greene County',
 'Hamilton County',
 'Herkimer County',
 'Jefferson County',
 'Kings County',
 'Lewis County',
 'Livingston County',
 'Madison County',
 'Monroe County',
 'Montgomery County',
 'Nassau County',
 'New York County',
 'Niagara County',
 'Oneida County',
 'Onondaga County',
 'Ontario County',
 'Orange County',
 'Orleans County',
 'Oswego County',
 'Otsego County',
 'Putnam County',
 'Queens County',
 'Rensselaer County',
 'Richmond County',
 'Rockland County',
 'St. Lawrence County',
 'Saratoga County',
 'Schenectady County',
 'Schoharie County',
 'Schuyler County',
 'Seneca County',
 'Steuben County',
 'Suffolk County',
 'Sullivan County',
 'Tioga County',
 'Tompkins County',
 'Ulster County',
 'Warren County',
 'Washington County',
 'Wayne County',
 'Westchester County',
 'Wyoming County',
 'Yates County']

In [7]:
#we'll rename our columns now
for i in range(0,len(column_list)):
    df_asian = df_asian.rename(columns = {df_asian.columns[i+1]: column_list[i]}) #renames the old columns to our corrected names
df_asian.head()

,Label,Albany County,Allegany County,Bronx County,Broome County,Cattaraugus County,Cayuga County,Chautauqua County,Chemung County,Chenango County,...,Sullivan County,Tioga County,Tompkins County,Ulster County,Warren County,Washington County,Wayne County,Westchester County,Wyoming County,Yates County
0,Total:,"6,271",155,"15,304","2,484",191,119,240,356,51,...,288,80,"3,982",889,228,109,236,"18,966",46,30
1,4999,431,29,"1,010",642,40,0,33,10,0,...,34,0,988,62,10,11,0,830,28,0
2,12499,290,0,797,52,9,12,18,0,8,...,6,0,261,55,0,0,30,473,0,0
3,17499,167,8,"1,032",135,0,0,42,0,5,...,14,0,150,21,26,0,0,394,0,5
4,22499,141,0,748,125,0,0,21,0,0,...,27,0,88,19,18,0,18,311,0,2

In [8]:
df_asian

,Label,Albany County,Allegany County,Bronx County,Broome County,Cattaraugus County,Cayuga County,Chautauqua County,Chemung County,Chenango County,...,Sullivan County,Tioga County,Tompkins County,Ulster County,Warren County,Washington County,Wayne County,Westchester County,Wyoming County,Yates County
0,Total:,"6,271",155,"15,304","2,484",191,119,240,356,51,...,288,80,"3,982",889,228,109,236,"18,966",46,30
1,4999,431,29,"1,010",642,40,0,33,10,0,...,34,0,988,62,10,11,0,830,28,0
2,12499,290,0,797,52,9,12,18,0,8,...,6,0,261,55,0,0,30,473,0,0
3,17499,167,8,"1,032",135,0,0,42,0,5,...,14,0,150,21,26,0,0,394,0,5
4,22499,141,0,748,125,0,0,21,0,0,...,27,0,88,19,18,0,18,311,0,2
5,27499,187,7,882,118,2,0,0,0,0,...,0,0,185,0,7,0,0,432,4,6
6,32499,386,18,800,43,29,14,15,20,0,...,5,12,309,57,0,6,0,334,0,11
7,37499,83,0,574,59,0,0,0,57,7,...,0,27,151,45,36,15,0,279,9,0
8,42499,180,0,485,104,0,7,0,0,14,...,10,0,115,17,0,0,0,283,5,0
9,47499,134,2,525,78,8,0,18,0,0,...,9,0,52,32,6,0,28,379,0,0
10,54999,361,0,"1,217",141,25,4,0,12,0,...,25,6,266,81,0,23,0,694,0,0
11,67499,522,10,"1,340",206,17,0,26,0,0,...,10,7,483,67,38,6,52,938,0,6
12,87499,"1,015",29,"1,880",256,19,30,14,66,17,...,29,0,273,77,37,28,29,"1,720",0,0
13,112499,744,19,"1,165",166,20,47,11,54,0,...,39,0,131,93,0,11,15,"1,959",0,0
14,137499,416,5,845,131,0,0,14,36,0,...,9,0,107,77,6,0,27,"1,530",0,0
15,174999,607,13,"1,116",57,16,2,0,38,0,...,55,2,137,33,14,0,0,"2,392",0,0
16,200000,607,15,888,171,6,3,28,63,0,...,16,26,286,153,30,9,37,"6,018",0,0

In [23]:
type(df_asian.iloc[1,3])

str

Note: some numbers are strings and some are type numpy.int64. Need to convert the strings only - so make a mask.

In [ ]:
#make a mask

In [16]:
#some rows may have numbers with commas, we must delete the commas
#only deleted commas in Bronx at the moment
for i in range(1,len(df_asian.columns)): #searching per column
    for j in range(0,len(df_asian)): #going into that column and looking at all the rows in it
        if df_asian.iloc[j,i] == 0: #don't want to change zeros
            df_asian.iloc[j,i] = df_asian.iloc[j,i]
        elif df_asian.iloc[j,i].find(",") != -1:
            df_asian.iloc[j,i] = df_asian.iloc[j,i].replace(",","")
print(f" {df_asian.iloc[1,1]} is {type(df_asian.iloc[1,1])}")
df_asian

AttributeError: 'numpy.int64' object has no attribute 'find'

In [ ]:
# need to make every row integers - all except the 1st one
for i in range(1,len(df_asian.columns)): #searching per column
    for j in range(0,len(df_asian)): #going into that column and looking at all the rows in it
        df_asian.iloc[j,i] = int(df_asian.iloc[j,i])
print(f" {df_asian.iloc[1,1]} is {type(df_asian.iloc[1,1])}")

## Columns of Gini Calculation
<img src=columns_gini.jpg width ='600'>

## Process for calculations

### Fraction of Income:
fraction = household income / sum of all incomes (so the sum of the 1st column)

### Fraction of Pop:
fraction = number of people with specific income/ total population of the county

The total population number for each county is the 1st row of every column

### % Pop Richer:
fraction = (number of people richer than specific income) / (total population of the county) **or** (sum of people above income group) / (total population of county)

For the 1st row of this category, you could do 1-(fraction of pop) since everyone would be richer than the 1st group. Last row in category should be zero since no one is richer than the last group.

In [ ]:
#building rows of our columns
#total_income = df_asian.iloc[1:,0].sum()
#fraction_income = [round(df_asian.iloc[i+1,0]/total_income,2) for i in range(0,16)]
#fraction_population = [round(df_asian.iloc[i+1,1]/df_asian.iloc[0,1]),2 for i in range(0,16)]
#fraction_richer = [round(int(df_asian.iloc[i+1,1])/int(df_asian.iloc[i+2:,1]),2) for i in range(0,16)]

In [ ]:
#df_asian.iloc[2:,1]

In [ ]:
#income_series = pd.Series(fraction_income, name = "% Cumulative Share Income")
#income_pop_series = pd.Series(fraction_population, name = "% Household Income Dist")

#income_df = income_series.to_frame()
#income_pop_df = income_pop_series.to_frame()

#income_pop_combo = pd.concat([income_df, income_pop_df],axis=1)

#let's see what curve looks like
#fig, ax = plt.subplots(figsize=(15, 6))
#plt.ylabel("Number of Accidents")

#plt.scatter(fraction_income, fraction_population)